@model IEnumerable<JokesApp.Models.Joke>

@{
    ViewData["Title"] = "Index";
}

<h1>Jokes You Search For</h1>

<p>
    <a  style="text-decoration:none" asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.JokeQuestion)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.JokeQuestion)
                </td>
                <td>
                    
                    <a asp-action="Edit" style="text-decoration:none"  asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details"  style="text-decoration:none" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete"   style="text-decoration:none" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
